.mainContent{
    display: flex;
    flex-flow: row;
}

.pictureContainer{
    width: 400px;
    height: 300px;
}

.backgroundImage{
    background-image: url("img/grey_marine.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: inherit;
    width: inherit;
}

.maskImage{
    position: absolute;
    top: 0.5em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: inherit;
    width: inherit;
    z-index: 1000;

}

.contentContainer{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.itemContainer{
    display: grid;
    grid-template-columns: .3fr 1fr .3fr;
    grid-template-rows: repeat(6, .05fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    padding: .5em;
}

.itemColor{
    width: 3em;
    height: 3em;
    border: 1px solid black;
}

.armor{
    background-image: url("img/armor.png");
    filter: opacity(0.3) drop-shadow(0 0 0 rgb(255, 21, 21));
}

.metal{
    background-image: url("img/metal.png");
    filter: opacity(0.3) drop-shadow(0 0 0 rgb(21, 255, 52));
}

.highlights{
    background-image: url("img/highlights.png");
    filter: opacity(0.3) drop-shadow(0 0 0 rgb(255, 115, 21));
}

.weapon{
    background-image: url("img/weapon.png");
    filter: opacity(0.3) drop-shadow(0 0 0 rgb(21, 115, 255));
}

.accessories{
    background-image: url("img/accessories.png");
    filter: opacity(0.3) drop-shadow(0 0 0 rgb(220, 255, 21));
}

.base{
    background-image: url("img/base.png");
    filter: opacity(0.3) drop-shadow(0 0 0 rgb(255, 21, 21));
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
